body{
    margin: 0px;
}
a{
    font-family: 'Jost';
}

button{
    padding: 15px 35px;
    font-family: 'Jost';
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

p{
    font-family: 'Jost';
    font-size: 16px;
}

.button--orange {
background-color: #FD909E;
color: white;
border: none;
}

h2{
    font-family: 'Jost';
    font-size: 68px;
    color: #010851;
    line-height: 124%;
    letter-spacing: -4%;
    margin: 0;
}
